/* Css Theme by CssTemplateHeaven - www.csstemplateheaven.com */



/**************************************************************************************/

/*----------------------------------- LigaTure Symbols ------------------------------*/

/************************************************************************************/



/* CSS */


body {font-family: 'Roboto', sans-serif; font-weight:lighter; background: pink; padding-top: 107px; overflow-x:hidden}

@font-face {

    font-family: 'LigatureSymbols';

    src: url('../fonts/LigatureSymbols-2.07.eot');

    src: url('../fonts/LigatureSymbols-2.07.eot?#iefix') format('embedded-opentype'),

         url('../fonts/LigatureSymbols-2.07.woff') format('woff'),

         url('../fonts/LigatureSymbols-2.07.ttf') format('truetype'),

         url('../fonts/LigatureSymbols-2.07.svg#LigatureSymbols') format('svg');

    src: url('../fonts/LigatureSymbols-2.07.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}



.row {
    position: relative;
    width: 1220px;
}
.lsf {

  font-family: 'LigatureSymbols';

  -webkit-text-rendering: optimizeLegibility;

  -moz-text-rendering: optimizeLegibility;

  -ms-text-rendering: optimizeLegibility;

  -o-text-rendering: optimizeLegibility;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-font-smoothing: antialiased;

  -ms-font-smoothing: antialiased;

  -o-font-smoothing: antialiased;

  font-smoothing: antialiased;

}



.lsf-icon:before {

  content:attr(title);

  margin-right:0.3em;

  font-size:64px;

  font-family: 'LigatureSymbols';

  -webkit-text-rendering: optimizeLegibility;

  -moz-text-rendering: optimizeLegibility;

  -ms-text-rendering: optimizeLegibility;

  -o-text-rendering: optimizeLegibility;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-font-smoothing: antialiased;

  -ms-font-smoothing: antialiased;

  -o-font-smoothing: antialiased;

  font-smoothing: antialiased;

}



.lsf-icon-dropcap:before {

  content:attr(title);

  font-size:64px;

  font-family: 'LigatureSymbols';

  -webkit-text-rendering: optimizeLegibility;

  -moz-text-rendering: optimizeLegibility;

  -ms-text-rendering: optimizeLegibility;

  -o-text-rendering: optimizeLegibility;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-font-smoothing: antialiased;

  -ms-font-smoothing: antialiased;

  -o-font-smoothing: antialiased;

  font-smoothing: antialiased;

}



.row {width: 1220px}



hr {

    -moz-border-bottom-colors: none;

    -moz-border-left-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    border-color: #999;

    border-image: none;

    border-style: dotted;

    border-width: 1px 0 0;

    clear: both;

    height: 0;

    margin: 22px 0 21px;

}



.page_wrap {margin: 0 auto 25px}



header {background: url(../images/trans.png) repeat; clear:both; padding: 0px}



.header_nav {background: none repeat scroll 0 0 #fafafa;
    display: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 999;}

.header_nav_fullwidth {background: #fafafa; padding: 10px 0 2px; margin-bottom: 25px; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)}





.blog_post {clear: both; padding: 15px 0; overflow:auto; margin-bottom: 20px; background:#FFF; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)}

.blog_post h3 {margin-top:0}

.blog_post img {}

.post_meta {color: #999; font-size: 14px; margin-bottom: 20px}



.featured_post {}

.featured_post img {margin: 12px 0}

.featured_post h3 {margin:10px 0 0; color: #000}



p {color: #333}

.welcome_text {font-size: 32px; margin-bottom: 0; text-align:center; font-weight: normal; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic}

.excerpt {font-size: 24px; margin-bottom: 0; font-weight: normal; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic}



h1,h2,h3,h4 {font-family: 'Roboto', sans-serif; font-weight:100; color: #333; margin: 20px 0}



/* sections */

.section_light {background: #FFF; border-top: 1px dotted #999; border-bottom: 1px dotted #999; padding: 20px 0; clear:both}

.section_light h1 {text-align: center; border-bottom: 1px dotted #999; padding-bottom: 20px; margin: 0 0 20px 0}



.section_dark {background: #262626; border-top: 0; border-bottom: 1px dotted #999; padding: 20px 0 40px}

.section_dark h2 {color: #999999; margin: 0 0 20px 0; font-size: 22px; text-align: center}



.section_main {padding: 20px 0}

.section_main h2 {padding: 0 0 20px}



/* END Frontpage sections */





.heading_supersize {font-size: 128px; text-align:center; font-weight: normal; line-height: 150px; margin:0 0 10px; color: #212121}

.heading_largesize {font-size: 34px; text-align:; font-weight: normal}



.dropcap_red, 

.dropcap_black {  

            border-radius: 100px 100px 100px 100px;

            display: block;

			float: left;

			font-size: 18px;

			line-height: 10px;

			margin: 10px 28px 0 0;

			text-align: center;

			width: 35px;

}



.dropcap_red {background: none; color: #999}

.dropcap_black {background: none; color: #999}



.panel {}



.panel.callout {background: #FE563B; border: 1px solid #CCC}



.panel.callout p, .panel.callout h4 {color: #fff}



ul.accordion > li.active {

    border-top: 3px solid #f34c31;

}



dl.tabs dd.active {

    border-top: 3px solid #f34c31;

    margin-top: -3px;

}


dl.tabs dd.active a {background: #fff}

.header_nav:before { background:url(../images/menu-tip.png);
 content: "";
    height: 9px;
    position: absolute;
    right: 12px;
    top: -6px;
    width: 14px;}

.nav-bar {margin-top: 0; background: none}

.nav-bar > li {border: 0; padding: 0; font-family: 'Open Sans Condensed',sans-serif; letter-spacing: 1px; box-shadow: none}

.nav-bar > li > a:first-child {  border-bottom: 1px solid #efefef;
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    width: 120px;}

.nav-bar > li:last-child {border: 0; box-shadow: none}

.nav-bar > li.active:hover { background: #000; cursor: default; }{}

.nav-bar > li:hover { background: #eeeeee; color: #000;         

        -webkit-transition: all .2s ease-in-out;

        -moz-transition: all .2s ease-in-out;

        -ms-transition: all .2s ease-in-out;

        -o-transition: all .2s ease-in-out;

        transition: all .2s ease-in-out; 

}



.nav-bar > li > a { color: #4d4d4d}

.nav-bar > li > a:hover { color: #000;}

.active a {background:#F06B48; color: #FFF}



.nav-bar > li.has-flyout > a:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #e0e0e0 transparent transparent transparent; position: absolute; right: 20px; top: 17px; }



.nav-bar > li.has-flyout > a:hover:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #e0e0e0 transparent transparent transparent; position: absolute; right: 20px; top: 17px; }





.flyout {background: #FAFAFA; border-radius: 5px; border: 0; margin-top: -1px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);}



ul.flyout li, .nav-bar li ul li { border-left: 0}

ul.flyout li a, .nav-bar li ul li a { background: #FAFAFA; color:#666; border: 0; font-size: 16px;}

ul.flyout li a:hover, .nav-bar li ul li a:hover { background: #151515; color: #fff; border: 0;         

        -webkit-transition: all .2s ease-in-out;

        -moz-transition: all .2s ease-in-out;

        -ms-transition: all .2s ease-in-out;

        -o-transition: all .2s ease-in-out;

        transition: all .2s ease-in-out; 

		}

		

/* nav bar vertical */





.nav-bar.vertical > li {border:0;}



.nav-bar.vertical > li:last-child {border:0}

		

/* gallery menu */



.gallery-nav-bar {list-style:none; text-align: center; padding-top:10px; font-family: 'Open Sans Condensed',sans-serif; letter-spacing: 2px; text-transform: uppercase}

.gallery-nav-bar li {display: inline-block; margin-right: 1px}



.gallery-nav-bar li {padding: 3px 12px}



.gallery-nav-bar li a {color: #000; padding: 3px 12px}



.gallery-nav-bar li a:hover {background: #C02702; color: #FFF; padding: 3px 12px; border-radius: 3px}





.footer {text-align:center; padding: 50px 0}



/*-------------------------------------------------------------------------------------------------*/

/* Masonry

/*-------------------------------------------------------------------------------------------------*/



.centered { margin: 0 auto; }



.box {

  margin: 5px;

  padding: 10px;

  background: #fff;

  border: 0;

  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

  font-size: 100%;

  line-height: 1.4em;

  float: left;

}



.box p {font-size: 12px; margin: 0; padding: 12px 0}



.box h2 {

  font-size: 14px;

  font-weight: 200;

}



.box h4 {

  margin-bottom: 0; font-size: 14px; font-family:Georgia, "Times New Roman", Times, serif; padding: 0px;

}



.box img,

#tumblelog img {

  display: block;

  width: 100%;

}





.box_comment {background: #fafafa; border-bottom: 1px solid #CCC; padding: 8px; soverflow: hidden;}

.box_comment p {font-size: 11px; padding: 0px; margin:0}



.rtl .box {

  float: right;

  text-align: right; 

  direction: rtl;

}



.col1 {width: 80px}

.col2 {width: 217px}

.col3 {width: 280px}

.col4 {width: 380px}

.col5 {width: 480px}



.col1 img { max-width: 80px; }

.col2 img { max-width: 211px; }

.col3 img { max-width: 280px; }

.col4 img { max-width: 380px; }

.col5 img { max-width: 480px; }



/* fluid masonry */



.box_fluid {

  margin-bottom: 1.4%;

  padding: 0;

  background: #fff;

  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

  font-size: 100%;

  line-height: 1.4em;

  float: left;

}



.box_fluid_inner {padding: 0 15px 0}



.col_fluid {width: 32%}

.col_fluid img {width: 100%}



/* MI Slider */





.mi-slider {

	position: relative;

	margin-top: 30px;

	height: 490px;

}



.mi-slider ul {

	list-style-type: none;

	position: absolute;

	width: 100%;

	left: 0;

	bottom: 140px;

	overflow: hidden;

	text-align: center;

	pointer-events: none;

}



.no-js .mi-slider ul {

	position: relative;

	left: auto;

	bottom: auto;

	margin: 0;

	overflow: visible;

}



.mi-slider ul.mi-current {

	pointer-events: auto;

}



.mi-slider ul li {

	display: inline-block;

	padding: 20px;

	width: 20%;

	max-width: 300px;

	-webkit-transform: translateX(600%);

	transform: translateX(600%);

	-webkit-transition: opacity 0.2s linear;

	transition: opacity 0.2s linear;

}



.no-js .mi-slider ul li {

	-webkit-transform: translateX(0);

	transform: translateX(0);

}



.mi-slider ul li a,

.mi-slider ul li img {

	display: block;

	margin: 0 auto;

}



.mi-slider ul li a {

	outline: none;

	cursor: pointer;

}



.mi-slider ul li img {

	max-width: 100%;

	border: none;

}



.mi-slider ul li h4 {

	display: inline-block;

	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;

	font-style: italic;

	font-weight: 400;

	font-size: 18px;

	padding: 20px 10px 0;

}



.mi-slider ul li:hover {

	opacity: 0.7;

} 



.mi-slider nav {

	position: relative;

	top: 340px;

	text-align: center;

	max-width: 800px;

	margin: 0 auto;

	border-top: 5px solid #333;

}



.no-js nav {

	display: none;

}



.mi-slider nav a {

	display: inline-block;

	text-transform: uppercase;

	letter-spacing: 5px;

	font-family:'Open Sans Condensed',sans-serif; font-weight: normal; 

	font-size: 16px;

	padding: 40px 30px 30px 34px;

	position: relative;

	color: #000;

	outline: none;

	-webkit-transition: color 0.2s linear;

	transition: color 0.2s linear;

}



.mi-slider nav a:hover,

.mi-slider nav a.mi-selected {

	color: #000;

}



.mi-slider nav a.mi-selected:after,

.mi-slider nav a.mi-selected:before {

	content: '';

	position: absolute;

	top: -5px;

	border: solid transparent;

	height: 0;

	width: 0;

	position: absolute;

	pointer-events: none;

}



.mi-slider nav a.mi-selected:after {

	border-color: transparent;

	border-top-color: #fff;

	border-width: 20px;

	left: 50%;

	margin-left: -20px;

}



.mi-slider nav a.mi-selected:before {

	border-color: transparent;

	border-top-color: #333;

	border-width: 27px;

	left: 50%;

	margin-left: -27px;

}



/* Move classes and animations */



.mi-slider ul:first-child li,

.no-js .mi-slider ul li {

	-webkit-animation: scaleUp 350ms ease-in-out both;

	animation: scaleUp 350ms ease-in-out both;

}



@-webkit-keyframes scaleUp {

	0% { -webkit-transform: translateX(0) scale(0); }

	100% { -webkit-transform: translateX(0) scale(1); }

}



@keyframes scaleUp {

	0% { transform: translateX(0) scale(0); }

	100% { transform: translateX(0) scale(1); }

}



.mi-slider ul:first-child li:first-child {

	-webkit-animation-delay: 90ms;

	animation-delay: 90ms;

}



.mi-slider ul:first-child li:nth-child(2) {

	-webkit-animation-delay: 180ms;

	animation-delay: 180ms;

}



.mi-slider ul:first-child li:nth-child(3) {

	-webkit-animation-delay: 270ms;

	animation-delay: 270ms;

}



.mi-slider ul:first-child li:nth-child(4) {

	-webkit-animation-delay: 360ms;

	animation-delay: 360ms;

}



/* moveFromRight */



.mi-slider ul.mi-moveFromRight li {

	-webkit-animation: moveFromRight 350ms ease-in-out both;

	animation: moveFromRight 350ms ease-in-out both;

}



/* moveFromLeft */



.mi-slider ul.mi-moveFromLeft li {

	-webkit-animation: moveFromLeft 350ms ease-in-out both;

	animation: moveFromLeft 350ms ease-in-out both;

}



/* moveToRight */



.mi-slider ul.mi-moveToRight li {

	-webkit-animation: moveToRight 350ms ease-in-out both;

	animation: moveToRight 350ms ease-in-out both;

}



/* moveToLeft */



.mi-slider ul.mi-moveToLeft li {

	-webkit-animation: moveToLeft 350ms ease-in-out both;

	animation: moveToLeft 350ms ease-in-out both;

}



/* Animation Delays */



.mi-slider ul.mi-moveToLeft li:first-child,

.mi-slider ul.mi-moveFromRight li:first-child,

.mi-slider ul.mi-moveToRight li:nth-child(4),

.mi-slider ul.mi-moveFromLeft li:nth-child(4) {

	-webkit-animation-delay: 0ms;

	animation-delay: 0ms;

}



.mi-slider ul.mi-moveToLeft li:nth-child(2),

.mi-slider ul.mi-moveFromRight li:nth-child(2),

.mi-slider ul.mi-moveToRight li:nth-child(3),

.mi-slider ul.mi-moveFromLeft li:nth-child(3) {

	-webkit-animation-delay: 90ms;

	animation-delay: 90ms;

}



.mi-slider ul.mi-moveToLeft li:nth-child(3),

.mi-slider ul.mi-moveFromRight li:nth-child(3),

.mi-slider ul.mi-moveToRight li:nth-child(2),

.mi-slider ul.mi-moveFromLeft li:nth-child(2) {

	-webkit-animation-delay: 180ms;

	animation-delay: 180ms;

}



.mi-slider ul.mi-moveToLeft li:nth-child(4),

.mi-slider ul.mi-moveFromRight li:nth-child(4),

.mi-slider ul.mi-moveToRight li:first-child,

.mi-slider ul.mi-moveFromLeft li:first-child  {

	-webkit-animation-delay: 270ms;

	animation-delay: 270ms;

}



/* Animations */



@-webkit-keyframes moveFromRight {

	0% { -webkit-transform: translateX(600%); }

	100% { -webkit-transform: translateX(0%); }

}



@-webkit-keyframes moveFromLeft {

	0% { -webkit-transform: translateX(-600%); }

	100% { -webkit-transform: translateX(0%); }

}



@-webkit-keyframes moveToRight {

	0% { -webkit-transform: translateX(0%); }

	100% { -webkit-transform: translateX(600%); }

}



@-webkit-keyframes moveToLeft {

	0% { -webkit-transform: translateX(0%); }

	100% { -webkit-transform: translateX(-600%); }

}



@keyframes moveFromRight {

	0% { transform: translateX(600%); }

	100% { transform: translateX(0); }

}



@keyframes moveFromLeft {

	0% { transform: translateX(-600%); }

	100% { transform: translateX(0); }

}



@keyframes moveToRight {

	0% { transform: translateX(0%); }

	100% { transform: translateX(600%); }

}



@keyframes moveToLeft {

	0% { transform: translateX(0%); }

	100% { transform: translateX(-600%); }

}



.mi-slider {

	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

}



/* Media Queries */

@media screen and (max-width: 910px){

	.mi-slider nav {

		max-width: 90%;

	}

	.mi-slider nav a {

		font-size: 12px;

		padding: 40px 10px 30px 14px;

	}

}



@media screen and (max-width: 740px){

	.mi-slider {

		height: 300px;

	}

	.mi-slider nav {

		top: 220px;

	}

}



@media screen and (max-width: 490px){ 

	.mi-slider {

		text-align: center;

		height: auto;

	}



	.mi-slider ul {

		position: relative;

		display: inline;

		bottom: auto;

		pointer-events: auto;

	}



	.mi-slider ul li {

		-webkit-animation: none !important;

		animation: none !important;

		-webkit-transform: translateX(0) !important;

		transform: translateX(0) !important;

		padding: 10px 3px;

		min-width: 140px;

	}



	.mi-slider nav {

		display: none;

	}

}

.main {
  display: inline-block;

    text-align: center;
    width: 100%;
}
.contain { display: inline-block; width:1220px; margin:0px auto}
header {
  height: 100px;
  left: 0;
  padding-top: 14px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}
.logo { float:left}
header .btn { float:right}
header .btn, header .menubtn { margin-left:15px; margin-top:15px;}
.btn { border:1px solid #5D5C5C;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  border-radius: 20px; height:40px;  padding:12px 45px; color:#FFFFFF }
.menubtn {border:1px solid #5D5C5C; cursor:pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  border-radius: 20px; height:40px; line-height:40px; width:40px; float:right; background: url("../images/menu.png") no-repeat scroll 7px -31px;
  -webkit-transition: all 0.7s; /* For Safari 3.1 to 6.0 */
    transition: all 0.7s; }
.menubtn.active {  background: url("../images/menu.png") no-repeat scroll 9px 11px;
border:1px solid #e13d7f;
-webkit-transition: all 0.7s; 
    transition: all 0.7s; }

.loginbtn { background:#2d2d2d}	

aside {
  position: absolute;
    vertical-align: top;
    width: 278px;
    z-index: 99;
}
.block-content a { color:black}
.block, .block-heading, .block-content { display:inline-block; vertical-align:top}
.block-heading, .block-content { width:100%;}

.block-heading .blockicon { background:url(../images/star_icon.png) no-repeat center center #5faa4b; height:50px; width:50px; display:inline-block; float:left }	
.block-heading h3 { background: none repeat scroll 0 0 #72bd5f;
    color: #ffeaeb;
    float: left;
    font-size: 19px;
    height: 50px;
    line-height: 50px;
    margin: 0 !important;
    text-align: center;
    width: 228px;}	
.overlay .row { position:relative}
.banner-home {
     float: left;
    margin-bottom: 20px;
    margin-top: -131px;
    width: 100%;
}

.banner-home {
     float: left;
    margin-bottom: 20px;
    margin-top: -131px;
    width: 100%;
}
.two-column-left .banner-home {
    margin-bottom: 0px;

}

.overlay {width: 100%; text-align:center}	
.blockrow {
    clear: both;
    float: left;
    width: 100%; 
	border-bottom:1px solid #eeeeee;
}
.block-content { background:white}

.date {
    float: left;
    height: 50px;
    text-align: center;
    width: 50px; border-right:1px solid #eeeeee;
}
.game {
  float: left;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    width: 227px;
}
.vs {color: #9d9d9d;
    font-weight: 500;
    padding: 0 5px;}
.date span {
    float: left; clear:both; width:100%; text-align:center
}
.date .day {
    font-size: 20px;
    margin-top: 10px;
}
.date .month  { font-size:11px;
}

.blockrow {background:#fff;
-webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s;}
.blockrow:nth-child(even) { background:#fafafa;
}

.blockrow:hover { background:#d8edd3;-webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s;}
	
.topteams .blockicon { background: url(../images/person.png) no-repeat scroll center center #2ea2ba;
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;}	
.topteams .block-heading h3 {
    background: none repeat scroll 0 0 #47c3da;

}	
.date > img {
    margin-top: 8px;
    width: 33px;
}
.topteams .game { text-align:left; text-indent:10px; font-weight:500}
html body .topteams .blockrow.even {
    background: none repeat scroll 0 0 #ECECEC !important;
	   border-top: 1px solid #e6e6e6;
}
html body .topteams .blockrow.odd {
    background: none repeat scroll 0 0 #f2f2f2 !important;
}
html body .topteams .blockrow:hover { background:#d8edd3 !important;}



.site-content,
.teaminfo {
    float: right;
    min-height: 540px;
    width: 920px;
}
footer { background: none repeat scroll 0 0 #202020;
    color: #ffffff;
    margin-top: 30px;}
.site-content .three.columns { padding:0 1px;}
.site-content .panel {
background: none repeat scroll 0 0 white;
    border: medium none;
    padding: 0;
}

.home .site-content h4 {
  display: inline-block;
    font-size: 18px;
    width: 166px;
}
.pink-btn.small{
 background: none repeat scroll 0 0 #e13173;
    color: #ffffff;
    display: inline-block;
    padding: 3px;
    text-align: center;
    width: 54px;
	  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  border-radius: 20px; color:#FFFFFF;
}

.bigbox-search-button {  background: url("../images/search_btn.png") no-repeat scroll center center #df3273;
    border: medium none;
    border-radius: 0 20px 20px 0;
	-webkit-border-radius: 0 20px 20px 0;
    height: 46px;
    width: 73px; cursor:pointer}
	
.forminput {  border: medium none;
    border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
    float: left;
    font-size: 23px; font-weight:100;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 549px;}

.formfooter { border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
	 border: medium none;
    font-size: 15px;
    font-weight: 100;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 200px;}

footer .full.lightgrey {
    height: 60px;
    padding-top: 5px;
}
footer .columns {
    padding: 0 13px;

}

footer .panel {
  
    margin: 0 0 7px; background:none; border:none;
    padding: 0;}
	
.gobtn { border-radius: 0 20px 20px 0;
	-webkit-border-radius: 0 20px 20px 0;
	 background: none repeat scroll 0 0 #80c36f;
    border: medium none;
    color: white; cursor:pointer;
    font-size: 15px;
    font-weight: 500;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 50px;}	
	
footer .full .support-text {
    font-size: 21px;
    font-weight: 500 !important;
    line-height: 35px;
}
.footerblock {
 display: inline-block;
    padding: 0 19px;
    vertical-align: top;
}	

.twitter-timeline {
    margin-top: 20px !important;
}
.searcharea {
    height: 46px;
    position: absolute;
    right: 130px;
    top: 200px;
	 border-radius:20px;
	-webkit-border-radius: 20px;
	  box-shadow: 0 0 20px #000;
	  -webkit-box-shadow: 0 0 20px #000;
	   -webkit-transition: all 0.7s; /* For Safari 3.1 to 6.0 */
    transition: width 0.7s;
}	
.latestnews > li {
  border-bottom: 1px solid #3b3933;
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    width: 100%;
}
.thm-dark { background:none !important}
.smallfooter-text {  display: inline-block;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px !important;
    width: 100%;}
.latestnews {  display: inline-block;
    list-style: none outside none;
    padding: 0;
    width: 100%;}	
.latestnews .day {
    height: 25px;
    line-height: 25px;
    margin-top: 7px;
}
.latestnews .date .month {
    font-size: 11px;
    height: 11px;
    line-height: 11px;
}
.latestnews	.date { background:#80c36f; border:none;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%;   
  border-radius: 50%; }
.latestnews h4 {   color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    margin: 10px 0 0 13px;
    width: 200px;}
#form-home { width:622px;}
.full { width:100%; text-align:center}
footer .full .support-text { font-weight:500;}
.newsletterplane { background:url(../images/plane.png) no-repeat center center;  height: 32px;}
.lightgrey { background:#232323}
.ftp-line { width:100%; display:inline-block; vertical-align:top;}
.ftp-line  span { float:left; width:25%; height:3px;}
.ftp-line .greenline { background:#80c36f}
.ftp-line .yellowline { background:#fed265}
.ftp-line .pinkline { background:#e13d7f}
.ftp-line .blueline { background:#57cadd}

.social a span { float:right; height:20px; width:20px; background:url(../images/social.png) no-repeat }
.social a.twitter span {
    background-position: -38px 0;
}
.social a.facebook span { background-position:0 0}
.social a.youtube span {
    background-position: -87px 0;
}
.social .icon {
    margin-bottom: 17px;
    margin-left: 40px;
    margin-top: 17px;
}
.copyright {
   font-size: 12px !important;
    margin: 17px 0;
    padding-left: 0 !important;
    text-align: left;
}
.copyright a { color:#FFFFFF
}
.columns.four.accepted-cards {
    margin-top: 9px;
}
.btn:hover {
 -webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s;}
.btn:hover { background:#df3273;
 -webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s;}

.two-column-left .site-content {

    min-height: 560px;

}

h2 {
    font-size: 24px;
    margin-bottom: 5px !important;
}

.page-header { font-size: 24px; background:url(../images/trans.png); width:auto; color:white;

  -webkit-border-radius: 0 12px 0 0 ; 
  -moz-border-radius:  0 12px 0 0 ; 
  border-radius:  0 12px 0 0; }
  
  .page-header {
 -webkit-border-radius: 0 12px 0 0 ; 
  -moz-border-radius:  0 12px 0 0 ; 
  border-radius:  0 12px 0 0; 
       background: url("../images/trans.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
   
    color: white;
    font-size: 28px;
    margin-left: 278px;
    margin-top: 180px;
    padding: 12px 12px 12px 27px;
    position: absolute;
    width: 260px !important;

}
.black {  background: none repeat scroll 0 0 black;
    display: inline-block;
    width: 100%;
}

.home .site-content {

    min-height: 270px;

} 
 .inner-banner {
    max-width: none;
    min-height: 360px;
    vertical-align: top;
    width: 1920px;
} 
.club-effect {    background: none repeat scroll 0 0 black;
    display: inline-block;
    vertical-align: top;}
	
.club-effect img.inner-banner {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

  /* IE 5-7 */
  filter: alpha(opacity=30);

  /* Netscape */
  -moz-opacity: 0.3;

  /* Safari 1.x */
  -khtml-opacity: 0.3;

  /* Good browsers */
  opacity: 0.3;
}	
	
.sidebar .hottickets {
 box-shadow: 0 0 13px #666;
  -webkit-box-shadow: 0 0 13px #666;
}

p {
    font-weight: lighter;
}


.site-content { position: relative}
.menu-container {  float: right;
    position: relative;}

header .searcharea {
     float: right;
    margin-right: 10px;
    position: static;
    width: 370px;
	box-shadow: 0 0 0px transparent !important;
	-webkit-box-shadow: 0 0 0px transparent !important;
}

header .searcharea .forminput {
 border: medium none;
    border-radius: 20px 0 0 20px;
    float: left; color:#FFFFFF;
    font-size: 16px;
    font-weight: 100;
    height: 39px; margin-top: 16px;
    line-height: 46px;
    text-align: center;
    width: 324px; background:url(../images/innersearch.png) repeat;
}	
	
header .searcharea .bigbox-search-button {
  background: url(../images/searchsmall.png) no-repeat center center #767575;
  border: medium none;
  cursor: pointer;
  float: left;
  height: 39px;
  margin-top: 16px;
  width: 45px;
}
.accordion-toggle {cursor: pointer;}
.accordion-content {
    display: none;
    padding: 0 20px 20px;
}
.accordion-content.default {display: block;}

.accordion-toggle {    border: 1px solid #c1c1c1;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 9px !important;
    margin-top: 1px;
    padding: 13px 10px 13px 20px;
    position: relative;

  -webkit-border-radius: 22px; 
  -moz-border-radius: 22px; 
  border-radius: 22px; }


.toggle-arrow {   background: url("../images/arrows.png") no-repeat scroll 10px -41px #c1c1c1;
    height: 30px;
    position: absolute;
   right:6px; top:6px; 
    width: 30px;
	
	-webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
  
  -webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s; 
}

.active .toggle-arrow { background:url("../images/arrows.png") no-repeat scroll 10px 12px #e13d7f;
  
   -webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s; 
}

.active.accordion-toggle {border: 1px solid #e13d7f; color: #e13d7f;}

.hovereffect {height: 144px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; background:url(../images/trans.png);
	 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
  
   -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
  	
}
.panel:hover .hovereffect {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;

 -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
	}



.panel:hover .plushover {  margin-top: 47px;
-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;}
.plushover {
    margin-top: 147px;
	 -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}


.panel:hover .ftplinehover { position:absolute; top:0px; left:0px;
-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;}
.ftplinehover { position:absolute; top:-20px; left:0px;
-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.team-summary {
    color: white;
    float: right;
    margin-top: 33px;
    width: 390px;
}
.team-summary .small-title {
    display: inline-block;
    margin-bottom: 14px;
}
.team-summary ul { margin:0px; padding:0px; list-style:none}
.team-summary ul  li { width:100%}
.team-summary ul  li span {  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    text-align: left;
    width: 50%;}

.data {
    border-left: 1px solid white;
    padding-left: 13px;
}

.teaminfo .page-header {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 90px;
    padding-bottom: 0 !important;
    padding-left: 30px;
    padding-right: 0 !important;
    padding-top: 0 !important;
    position: static;
}
.club-logo {
  float: left;
  margin-left: 10px;
  margin-top: 46px;
}

.teaminfo {

  height: 235px !important;
  min-height: 10px !important;
  position: absolute;
  right: 0;
  top: 0;
}

.pinkbtn { background:#e13d7f; color:#FFFFFF}
.bluebtn {background:#57cadd; color:#FFFFFF}
.pinkbtn:hover { background:#c82f6d; color:#FFFFFF}
.bluebtn:hover {background:#3499aa; color:#FFFFFF}

strong, b {
    font-weight: 500 !important;

}
.responsive { width:100%;
  border-collapse: collapse;
}
.responsive .btn {
   border: medium none;
    float: right;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-left: 13px;
    padding: 0 20px;
    width: 84px; cursor:pointer;
}
.responsive td {
color: #616060;
    font-weight: 400;
    vertical-align: middle;
	 padding: 16px 10px;
}

.one-column .page-header,
.account .page-header {
    background: none;
    margin-left: 0;
    margin-top: 70px; padding-left:0px !important;
}

table tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 #f2f2f2 !important; border-top:1px solid #e6e6e6;
}
table.responsive .game { width: auto !important; height:auto !important; line-height:normal !important}
table.responsive {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 3px;
    margin: 0 0 18px;
}
table.responsive th {  background: none repeat scroll 0 0 white !important;
    border-bottom: 1px solid #ccc; font-weight:500 !important}

.responsive tr td { 
-webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s;
}
.responsive tr:hover td { background:#d8edd3;
-webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
transition: background 0.7s;
}
.topteams .blockrow:hover {background:#d8edd3;
-webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
transition: background 0.7s;}

.team-summary, .fadeIn { display:none;}

.one-column .site-content, 
.one-column .teaminfo,
.account .teaminfo  {
    float: right;
    min-height: 10px;
    width: 100%;
}


.second-navs {
    background: #212326;
    display: inline-block;
    height: 48px;
    margin-top: -11px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}